# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/
[Ll]og/
[Ll]ogs/

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.userprefs
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!packages/build/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Misc
*.tmp
*.cache
project.lock.json
project.fragment.lock.json
artifacts/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
